<% provide(:title, 'Editar semestre') %>

<div class="formoid-default-skyblue" style="background-color:#FFFFFF;font-size:14px;font-family:'Open Sans','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;color:#666666;max-width:480px;min-width:150px">
  <div class="title">
    <h1>Editar semestre</h1>
  </div>
  <div class="span6 offset3" >
    <%= form_for(@semester) do |f| %>
      <%= f.label "Nombre" %>
      <%= f.text_field :name %>

      <%= f.label "Fecha de inicio" %>
      <%= select_date Date.today, prefix: :startdate %>

      <%= f.label "Fecha de finalización" %>
      <%= select_date Date.today, prefix: :finaldate %>

      <%= f.label "Estado" %>
      <%=f.select(:status,options_for_select([["Activo", "Activo"], ["Inactivo", "Inactivo"]]))%>   

      <%= f.label "Tipo de semestre" %>
      <%=f.select( :stype, options_for_select([["normal", "normal"], ["intersemestral", "intersemestral"]]))%>   

      <div class="submit">
        <%= f.submit "Editar semestre", class: "btn " %>
        </div>
      <% end %>
    </div>
  </div>