<%= link_to "Add new User", users_new_path %>
</br></br></br>
<% unless @user_list.nil? %>
  <table  border="1">
    <tr>

      <td>Nombre</td>
      <td>Email</td>
<%#*Agregar  tipo de usuario si esta autenticado%>

      <td>Estado</td>

      <td colspan="3">Acciones</td>

    </tr>
    <% for user in @user_list do %>  
        <tr>
          <td><%= "#{user.firstname}" %></td>
          <td><%= "#{user.email}" %></td>
          <td><%= "#{user.status}" %></td>
          <td><%= link_to I18n.t('delete'), user, method: :delete,  data: { confirm: I18n.t('seguro') } %></td>
          <td><%= link_to I18n.t('editar'),  edit_user_path(user) %></td>
          <td>
            <% if user.status == "Activo" %>
              <%= link_to I18n.t('disable'), user_path(user,:disable => 1),
                data: { confirm: I18n.t('seguro') } %>
            <% end %>
            <% if user.status == "Inactivo" %>
              <%= link_to I18n.t('enable'), user_path(user,:disable => 0),
                data: { confirm: I18n.t('seguro') }  %>
            <% end %>
          </td>
        </tr>
      <% end %>  
    <% end %>