<% provide(:title, 'Create User') %>

<div class="formoid-default-skyblue" style="background-color:#FFFFFF;font-size:14px;font-family:'Open Sans','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;color:#666666;max-width:480px;min-width:150px">
  <div class="title">
  <h1>Create User</h1>
</div>
  <div class="span6 offset3" >
    <%= form_for(@user) do |f| %>
  <%#= render 'shared/error_messages' %>

      
      <%= f.label :firstname %>
      <%= f.text_field :firstname %>

      <%= f.label :lastname %>
      <%= f.text_field :lastname %>

      <%= f.label :code %>
      <%= f.text_field :code %>

      <%= f.label :identificationtype, "Identification Type" %>
      <%=f.select(:identificationtype,options_for_select([["CC", "CC"], ["CE", "CE"]]))%>       

      <%= f.label :identification %>
      <%= f.text_field :identification %>

      <%= f.label :status %>
      <%=f.select(:status,options_for_select([["Activo", "Activo"], ["Inactivo", "Inactivo"]]))%>   

      <%= f.label :usertype,"User Type" %>
      <%=f.select(:usertype,options_for_select([["Estudiante", "Estudiante"], ["Coordinador", "Coordinador"], ["Profesor", "Profesor"]]))%>   

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>


  <%#= f.label :programs %>

  <%#= select_tag "programs", options_from_collection_for_select(Program.all, 'id', 'name'), :multiple => (if :usertype then true else"Estudiante".eql?"Estudiante" end) %>


      <div class="submit">
        <%= f.submit "Add user", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>


