<%= link_to "Add new Subject", subjects_new_path %>
</br></br></br>
<% unless @subject_list.nil? %>
 <% if @subject_list.size>0 %>
  <table  border="1">
    <tr>
      <td>Código</td>
      <td>Nombre</td>
      <td>Quota</td>
      <td>Status</td>
      <td colspan="3">Acciones</td>
    </tr>
    <% for subject in @subject_list do %>  
        <tr>
          <td><%= "#{subject.code}" %></td>
          <td><%= "#{subject.name}" %></td>
          <td><%= "#{subject.quota}" %></td>
          <td><%= "#{subject.status}" %></td>
         <td><%= link_to I18n.t('editar'),  edit_subject_path(subject) %></td>
          <td>
            <% if subject.status == "Activo" %>
              <%= link_to I18n.t('disable'), subject_path(subject,:disable => 1),
                data: { confirm: I18n.t('seguro') } %>
            <% end %>
            <% if subject.status == "Inactivo" %>
              <%= link_to I18n.t('enable'), subject_path(subject,:disable => 0),
                data: { confirm: I18n.t('seguro') }  %>
            <% end %>
          </td>
        </tr>
        
      <% end %>  
        <% else %> 
          <p>No existen materias disponibles</p>
      <% end %>  
    <% end %>
