<%#*<li>%>
<tr>
  <% @ninguno = true %>
  <td><%= preregister_subject.semester.name %> </td>
  <td><%= preregister_subject.subject.name %> </td>
  <td><%= preregister_subject.status %></td>
  <% if (current_user?(@user) || coordinador?) && preregister_subject.semester.startdate > Time.now %>
    <td>
      <%= link_to "Editar", edit_preregister_subject_path(preregister_subject,:program_id =>@program.id,:user_id =>@user.id) %> | <%= link_to "Eliminar", preregister_subject, method: :delete, data: { confirm: "¿Esta seguro de realizar esta accion?" } %>

    </td>
    <%  @ninguno =false %>
  <% end %>
  <% if (current_user?(@user) || coordinador?) && preregister_subject.semester.startdate < Time.now && preregister_subject.semester.finaldate > Time.now %>
    <td> 
      <%= link_to "Editar", edit_preregister_subject_path(preregister_subject,:program_id =>@program.id,:user_id =>@user.id) %> 
    </td>
    <%  @ninguno =false %>
  <% end %>
  <% if (current_user?(@user) || coordinador?)  && preregister_subject.semester.finaldate < Time.now && preregister_subject.status=="En curso"  %>
    <td> 
      <%= link_to "Editar", edit_preregister_subject_path(preregister_subject,:program_id =>@program.id,:user_id =>@user.id) %>
    </td> 
      <%  @ninguno =false %>
  <% end %>

  <% if @ninguno %>
    <td>Ninguna</td>
  <% end %>
</tr>  
<%#*</li>%>